<!--

    Copyright 2024-2026 Bundesdruckerei GmbH
    For the license see the accompanying file LICENSE.MD.

-->
<!DOCTYPE html>
<html th:replace="~{layout :: main(~{::title}, ~{::#content})}" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>PID-Provider</title>
</head>
<body>

<main>
    <div id="content" class="container mt-2" style="max-width: clamp(40rem, 92vw, 120rem);">

        <h1>PID-Provider PID-Credentials</h1>
        <p>This is the documentation of the PID-credential issued by the German PID-Provider. Issuing the German PID-credential follows the&nbsp;
            <a
                href="https://bmi.usercontent.opencode.de/eudi-wallet/eidas-2.0-architekturkonzept/content/features/PID/german-pid-rulebook/"
                rel="noopener">German PID Rulebook</a>
            which itself follows the&nbsp;
            <a
                href="https://github.com/eu-digital-identity-wallet/eudi-doc-attestation-rulebooks-catalog/blob/main/rulebooks/pid/pid-rulebook.md"
                rel="noopener">European Architecture Reference Framework Annex 3.01 PID Rulebook</a>.</p>

        <br>

        <h2>Versions used</h2>
        <table class="table table-bordered caption-top">
            <caption class="text-black">The following table lists the versions of the PID Rulebook and further documents on which this document is based on:</caption>
            <thead class="table-primary">
                <tr>
                    <th class="fw-bold" scope="col">Document</th>
                    <th class="fw-bold" scope="col">Version</th>
                    <th class="fw-bold" scope="col">Remark</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td><a
                    href="https://github.com/eu-digital-identity-wallet/eudi-doc-attestation-rulebooks-catalog/blob/main/rulebooks/pid/pid-rulebook.md"
                    rel="noopener">ANNEX 3.01 - PID Rulebook</a></td>
                <td>1.3 (6 Nov 2025)</td>
                <td></td>
            </tr>
            <tr>
                <td><a
                    href="https://github.com/eu-digital-identity-wallet/eudi-doc-architecture-and-reference-framework/blob/main/docs/annexes/annex-2/annex-2.02-high-level-requirements-by-topic.md"
                    rel="noopener">ARF ANNEX 2.02 - High-Level Requirements by topic</a></td>
                <td>v2.7.3 (Nov 2025)</td>
                <td>Section A.2.3.2 Topic 3 - PID Rulebook</td>
            </tr>
            <tr>
                <td><a
                    href="https://bmi.usercontent.opencode.de/eudi-wallet/eidas-2.0-architekturkonzept/content/features/PID/german-pid-rulebook/"
                    rel="noopener">German PID Rulebook (PID-DE)</a></td>
                <td>Version 0.1.3</td>
                <td>Uses ARF PID Rulebook 1.2</td>
            </tr>
            <tr>
                <td><a
                    href="https://www.iana.org/assignments/cbor-tags/cbor-tags.xhtml"
                    rel="noopener">CBOR Tags</a></td>
                <td>2025-11-14</td>
                <td>References for field types</td>
            </tr>
            </tbody>
        </table>

        <br>

        <h2>Supported Credential Formats</h2>
        <ul>
            <li>ISO/IEC 18013-5 (&quot;mso mdoc&quot;)</li>
            <li>SD-JWT VC</li>
        </ul>

        <br>

        <h2>Claims</h2>
        <p>The following claims are contained in the German PID-credential. Note that CIR data identifiers prefixed with &quot;DE:&quot; are a national addition of the German PID Rulebook.
           Identifiers prefixed with &quot;Metadata&quot; are metadata fields defined by the used formats. This follows the&nbsp;<a
                href="https://bmi.usercontent.opencode.de/eudi-wallet/eidas-2.0-architekturkonzept/content/features/PID/german-pid-rulebook/"
                rel="noopener">German PID Rulebook</a>.
        </p>
        <p>All the claims listed below are always present. If a value is not known or not set, it is set to an empty string. If that is not possible, no PID-credential is issued.</p>

        <br>

        <h3>Namespaces</h3>
        <p>For the ISO/IEC 18013-5 format, claims with data identifiers with no prefix are placed in the <code>"eu.europa.ec.eudi.pid.1"</code> namespace.
           Identifier with prefix &quot;DE:&quot; are placed in the <code>"eu.europa.ec.eudi.pid.<strong>de</strong>.1"</code> namespace.
           For this table, <em>issuance_date</em>&nbsp;is defined as calendar day with no time on which the PID-credential is technically issued.
           This claim <em>issuance_date</em> itself is not present in the German PID-credential.
        </p>

        <br>

        <h3 id="heading-list-of-claims-in-the-german-pid">List of Claims present in the German PID-credential</h3>
        <p>The order of the following rows reflects the order in which the claims are to be displayed in the Wallet according
           to the PID-Provider metadata. Claims marked as metadata in this table are usually not displayed in the
            wallet and are not included in the PID-Provider's metadata.
        </p>
        <div class="table-responsive">
            <table class="table table-bordered" aria-labelledby="heading-list-of-claims-in-the-german-pid">
                <thead class="table-primary">
                    <tr>
                        <th class="fw-bold align-middle" scope="col">CIR 2024/2977 data identifier</th>
                        <th class="fw-bold align-middle" scope="col">ISO/IEC 18013-5 data identifier</th>
                        <th class="fw-bold align-middle" scope="col">SD-JWT VC data identifier</th>
                        <th class="fw-bold align-middle" scope="col">eID Source</th>
                        <th class="fw-bold align-middle" scope="col">Human Readable Name DE</th>
                        <th class="fw-bold align-middle" scope="col">Human Readable Name EN</th>
                        <th class="fw-bold align-middle" scope="col">Remark/Transformation rule</th>
                        <th class="fw-bold align-middle text-nowrap" scope="col">Format CBOR</th>
                        <th class="fw-bold align-middle text-nowrap" scope="col">Format SD-JWT</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>family_name</td>
                        <td>family_name</td>
                        <td>family_name</td>
                        <td>FamilyNames</td>
                        <td>Familienname</td>
                        <td>Family name</td>
                        <td></td>
                        <td>tstr</td>
                        <td>string</td>
                    </tr>
                    <tr>
                        <td>DE: birth_name</td>
                        <td>DE: birth_name</td>
                        <td>birth_name</td>
                        <td>BirthName</td>
                        <td>Geburtsname</td>
                        <td>Birth name</td>
                        <td>Everything from DG13 &quot;Birth name&quot;. Used instead of family_name_birth as this has a difference semantic.</td>
                        <td>tstr</td>
                        <td>string</td>
                    </tr>
                    <tr>
                        <td>given_name</td>
                        <td>given_name</td>
                        <td>given_name</td>
                        <td>GivenNames</td>
                        <td>Vorname(n)</td>
                        <td>Given name(s)</td>
                        <td></td>
                        <td>tstr</td>
                        <td>string</td>
                    </tr>
                    <tr>
                        <td>DE: academic_title</td>
                        <td>DE: academic_title</td>
                        <td>title</td>
                        <td>AcademicTitle</td>
                        <td>Doktorgrad</td>
                        <td>Doctoral degree</td>
                        <td>This is always present, but empty if not contained in the eID.</td>
                        <td>tstr</td>
                        <td>string</td>
                    </tr>
                    <tr>
                        <td>DE: also_known_as</td>
                        <td>DE: also_known_as</td>
                        <td>also_known_as</td>
                        <td>ArtisticName</td>
                        <td>Ordens-/Künstlername</td>
                        <td>Religious/artistic name</td>
                        <td>This is always present, but empty if not contained in the eID.</td>
                        <td>tstr</td>
                        <td>string</td>
                    </tr>
                    <tr>
                        <td>&ndash;</td>
                        <td>&ndash;</td>
                        <td>address</td>
                        <td>&ndash;</td>
                        <td>Adresse</td>
                        <td>Address</td>
                        <td>
                            <p>parental node for the SD-JWT format</p>
                        </td>
                        <td>&ndash;</td>
                        <td>object</td>
                    </tr>
                    <tr>
                        <td>resident_street</td>
                        <td>resident_street</td>
                        <td>address.street_address</td>
                        <td>PlaceOfResidence.<wbr>StructuredPlace.<wbr>Street</td>
                        <td>Straße</td>
                        <td>Street</td>
                        <td>
                            <p>Empty if eID contains noPlaceInfo. See section &quot;Address&quot; below.</p>
                            <p>Note that this contains the street number.</p>
                        </td>
                        <td>tstr</td>
                        <td>string</td>
                    </tr>
                    <tr>
                        <td>resident_postal_code</td>
                        <td>resident_postal_code</td>
                        <td>address.postal_code</td>
                        <td>PlaceOfResidence.<wbr>StructuredPlace.<wbr>ZipCode</td>
                        <td>Postleitzahl</td>
                        <td>Postal code</td>
                        <td>Empty if eID contains noPlaceInfo. See section &quot;Address&quot; below.</td>
                        <td>tstr</td>
                        <td>string</td>
                    </tr>
                    <tr>
                        <td>resident_city</td>
                        <td>resident_city</td>
                        <td>address.locality</td>
                        <td>PlaceOfResidence.<wbr>StructuredPlace.<wbr>City</td>
                        <td>Stadt</td>
                        <td>City</td>
                        <td>Empty if eID contains noPlaceInfo. See section &quot;Address&quot; below.</td>
                        <td>tstr</td>
                        <td>string</td>
                    </tr>
                    <tr>
                        <td>resident_state</td>
                        <td>resident_state</td>
                        <td>address.region</td>
                        <td>PlaceOfResidence.<wbr>StructuredPlace.<wbr>State</td>
                        <td>Staat</td>
                        <td>State</td>
                        <td>Empty if eID contains noPlaceInfo. See section &quot;Address&quot; below.</td>
                        <td>tstr</td>
                        <td>string</td>
                    </tr>
                    <tr>
                        <td>resident_country</td>
                        <td>resident_country</td>
                        <td>address.country</td>
                        <td>PlaceOfResidence.<wbr>StructuredPlace.<wbr>Country</td>
                        <td>Land</td>
                        <td>Country</td>
                        <td>
                            <p>This is extracted from the PlaceOfResidence and transformed into an alpha-2 country code.</p>
                            <p>See also section &quot;Address&quot; below.</p>
                        </td>
                        <td>tstr</td>
                        <td>string</td>
                    </tr>
                    <tr>
                        <td>nationality</td>
                        <td>nationality</td>
                        <td>nationalities</td>
                        <td>Nationality</td>
                        <td>Staatsangehörigkeit</td>
                        <td>Nationality</td>
                        <td>
                            <p>This is a transformation from three-letter code to two-letter code. Note that this might not always be possible. Then no PID-credential is issued.</p>
                            <p>If it is not set for in case of a German ID-card, it is set to &quot;DE&quot;. (German ID-cards before 2019 have this empty.)</p>
                            <p>Note: the ICAO three-letter code for Germany is &quot;D&quot;, while the two-letter code is &quot;DE&quot;. Hence, for Germany, this will be &quot;DE&quot;.</p>
                            <p>For mdoc, the array contains exactly one element.</p>
                            <p>For SD-JWT: The top claim is a selectively disclosable (SD) array, and its entries will also be SD.
                                While the German PID-credential will only every contain one nationality, to prevent automatic deductions from verifiers about this,
                                the array will always contain two elements, one of them being a decoy according to the SD-JWT standard.</p>
                        </td>
                        <td>[+ tstr]</td>
                        <td>array of strings</td>
                    </tr>
                    <tr>
                        <td>birth_date</td>
                        <td>birth_date</td>
                        <td>birthdate</td>
                        <td>DateOfBirth</td>
                        <td>Geburtsdatum</td>
                        <td>Date of birth</td>
                        <td>Month and Day can be zero.
                            If they are zero in the eID, the PID-Provider will write the zeros into the date, hence issuing a non-standard-conformant date.
                            Verifiers are advised to make sure they can treat that case.
                        </td>
                        <td>#6.1004(tstr)</td>
                        <td>string, ISO 8601-1 [ISO8601‑1] <span class="text-nowrap">YYYY-MM-DD</span> format</td>
                    </tr>
                    <tr>
                        <td>birth_place</td>
                        <td>place_of_birth.locality</td>
                        <td>place_of_birth.locality</td>
                        <td>PlaceOfBirth</td>
                        <td>Geburtsort</td>
                        <td>Place of birth</td>
                        <td>
                            <p>If the eID contains a structuredPlace, only the component <code>"city"</code> of the eID entry is used.</p>
                            <p>If the eID contains a freetext place, this is used.</p>
                            <p>If the eID contains a NoPlaceInfo, an empty string is used.</p>
                            <p>The value is written into the claim <code>"locality"</code> inside the structure place_of_birth.</p>
                            <p>Only the sub-claim locality will be present. In the Case of SD-JWT no decoys are used.</p>
                        </td>
                        <td>place_of_birth&nbsp;=<br>
                            {<br>
                            ? <code>"country"</code>:&nbsp;tstr; a single alpha-2 country code as specified in ISO 3166-1<br>
                            ? <code>"region"</code>:&nbsp;tstr; the name of a state, province, district, or local area<br>
                            ? <code>"locality"</code>:&nbsp;tstr; the name of a municipality, city, town, or village<br>
                            }
                        </td>
                        <td>JSON structure: place_of_birth.country, place_of_birth.region, place_of_birth.locality, all strings</td>
                    </tr>
                    <tr>
                        <td>DE: no_place_info</td>
                        <td>DE: place_of_birth.no_place_info</td>
                        <td>place_of_birth.no_place_info</td>
                        <td>PlaceOfBirth</td>
                        <td>Geburtsort bekannt</td>
                        <td>Place of birth known</td>
                        <td>
                            <p>If the eID PlaceOfBirth is &quot;NoPlaceInfo&quot;, this is set to true. Otherwise, this is set to false.</p>
                            <p>Note: In case of ISO/IEC 18013-5 this claim is in a different namespace than the claim place_of_birth.locality.
                                In case of SD-JWT VC, this claim inside place_of_birth, hence a sibling of place_of_birth.locality.</p>
                        </td>
                        <td>bool</td>
                        <td>bool: true/false</td>
                    </tr>
                    <tr>
                        <td>&ndash;</td>
                        <td>&ndash;</td>
                        <td>age_equal_or_over</td>
                        <td>&ndash;</td>
                        <td>Alter</td>
                        <td>Age</td>
                        <td>
                            <p>parental node for the SD-JWT format</p>
                        </td>
                        <td>&ndash;</td>
                        <td>object</td>
                    </tr>
                    <tr>
                        <td>DE: age_over_12</td>
                        <td>DE: age_over_12</td>
                        <td>age_equal_or_over.12</td>
                        <td></td>
                        <td>Älter als 12</td>
                        <td>Age over 12</td>
                        <td>
                            <p>This is calculated from birth_date and <em>issuance_date.</em>
                                This is only guaranteed to be correct on the day of issuance of the PID-credential. See also section &quot;age verification&quot;.</p>
                            <p>For SD-JWT the whole structure and each subclaim is selectively disclosable.</p>
                        </td>
                        <td>bool</td>
                        <td>bool: true/false</td>
                    </tr>
                    <tr>
                        <td>DE: age_over_14</td>
                        <td>DE: age_over_14</td>
                        <td>age_equal_or_over.14</td>
                        <td></td>
                        <td>Älter als 14</td>
                        <td>Age over 14</td>
                        <td>
                            <p>This is calculated from birth_date and <em>issuance_date.</em>
                                This is only guaranteed to be correct on the day of issuance of the PID-credential. See also section &quot;age verification&quot;.</p>
                            <p>For SD-JWT the whole structure and each subclaim is selectively disclosable.</p>
                        </td>
                        <td>bool</td>
                        <td>bool: true/false</td>
                    </tr>
                    <tr>
                        <td>DE: age_over_16</td>
                        <td>DE: age_over_16</td>
                        <td>age_equal_or_over.16</td>
                        <td></td>
                        <td>Älter als 16</td>
                        <td>Age over 16</td>
                        <td>
                            <p>This is calculated from birth_date and <em>issuance_date.</em>
                                This is only guaranteed to be correct on the day of issuance of the PID-credential. See also section &quot;age verification&quot;.</p>
                            <p>For SD-JWT the whole structure and each subclaim is selectively disclosable.</p>
                        </td>
                        <td>bool</td>
                        <td>bool: true/false</td>
                    </tr>
                    <tr>
                        <td>DE: age_over_18</td>
                        <td>DE: age_over_18</td>
                        <td>age_equal_or_over.18</td>
                        <td></td>
                        <td>Älter als 18</td>
                        <td>Age over 18</td>
                        <td>
                            <p>This is calculated from birth_date and <em>issuance_date.</em>
                                This is only guaranteed to be correct on the day of issuance of the PID-credential. See also section &quot;age verification&quot;.</p>
                            <p>For SD-JWT the whole structure and each subclaim is selectively disclosable.</p>
                        </td>
                        <td>bool</td>
                        <td>bool: true/false</td>
                    </tr>
                    <tr>
                        <td>DE: age_over_21</td>
                        <td>DE: age_over_21</td>
                        <td>age_equal_or_over.21</td>
                        <td></td>
                        <td>Älter als 21</td>
                        <td>Age over 21</td>
                        <td>
                            <p>This is calculated from birth_date and <em>issuance_date.</em>
                                This is only guaranteed to be correct on the day of issuance of the PID-credential. See also section &quot;age verification&quot;.</p>
                            <p>For SD-JWT the whole structure and each subclaim is selectively disclosable.</p>
                        </td>
                        <td>bool</td>
                        <td>bool: true/false</td>
                    </tr>
                    <tr>
                        <td>DE: age_over_65</td>
                        <td>DE: age_over_65</td>
                        <td>age_equal_or_over.65</td>
                        <td></td>
                        <td>Älter als 65</td>
                        <td>Age over 65</td>
                        <td>
                            <p>This is calculated from birth_date and <em>issuance_date.</em>
                                This is only guaranteed to be correct on the day of issuance of the PID-credential. See also section &quot;age verification&quot;.</p>
                            <p>For SD-JWT the whole structure and each subclaim is selectively disclosable.</p>
                        </td>
                        <td>bool</td>
                        <td>bool: true/false</td>
                    </tr>
                    <tr>
                        <td>issuing_authority</td>
                        <td>issuing_authority</td>
                        <td>issuing_authority</td>
                        <td></td>
                        <td>Ausstellende Behörde</td>
                        <td>Issuing authority</td>
                        <td>Mandatory according to ARF. Same value as issuing_country for Germany. Always &quot;DE&quot; for Germany.</td>
                        <td>tstr</td>
                        <td>string</td>
                    </tr>
                    <tr>
                        <td>issuing_country</td>
                        <td>issuing_country</td>
                        <td>issuing_country</td>
                        <td></td>
                        <td>Ausstellender Staat</td>
                        <td>Issuing country</td>
                        <td>Mandatory according to ARF. Same value as issuing_country for Germany. Always &quot;DE&quot; for Germany.</td>
                        <td>tstr</td>
                        <td>string</td>
                    </tr>
                    <tr>
                        <td>DE: source_document_type</td>
                        <td>DE: source_document_type</td>
                        <td>source_document_type</td>
                        <td>DocumentType</td>
                        <td>Dokumentenart</td>
                        <td>Document type</td>
                        <td>
                            <p>This is an additional field for the German PID-credential, hence for ISO/IEC 18013-5 this is namespaced.</p>
                            <p>It contains the values from the eID:&nbsp;&quot;ID&quot; = german eID, &quot;AR&quot;, &quot;AS&quot; or &quot;AF&quot; for Residence Permit or &quot;UB&quot; for &quot;ID Card for EU Citizens&quot;.</p>
                        </td>
                        <td>tstr</td>
                        <td>string</td>
                    </tr>
                    <tr>
                        <td>expiry_date</td>
                        <td>expiry_date</td>
                        <td>date_of_expiry</td>
                        <td></td>
                        <td>Gültig bis</td>
                        <td>Valid until</td>
                        <td><p>Administrative validity of the PID-credential. This is the <em>issuance_date</em>&nbsp;+&nbsp;5 years. See §10a (2) PAuswG. There is no time component.</p>
                            <p>This cannot be longer than the validity of the eID.</p>
                            <p>Note this is neither the technical expiry date of the PID-credential nor the expiry date of the eID means used to issue the PID-credential.</p>
                            <p>Usually the user has to re-identify with the eID after this date.</p>
                        </td>
                        <td>#6.1004(tstr) (=full-date)</td>
                        <td>string</td>
                    </tr>
                    <tr>
                        <td>Meta: doctype</td>
                        <td>doctype</td>
                        <td>vct</td>
                        <td></td>
                        <td>n/a</td>
                        <td>n/a</td>
                        <td>
                            <p>This is the credential type.</p>
                            <p>For ISO/IEC 18013-5, this is a fixed value common for all European PID-credentials, &quot;eu.europa.ec.eudi.pid.1&quot;.
                                Confer also the remarks for mdoc namespaces.</p>
                            <p>For SD-JWT VC, the value &quot;urn:eudi:pid:de:1&quot; is used, where &quot;1&quot; encodes the current version of the PID Rulebook.</p>
                        </td>
                        <td>n/a</td>
                        <td>string</td>
                    </tr>
                    <tr>
                        <td>Meta: nbf</td>
                        <td>
                            <p>validFrom</p>
                            <p>signed</p>
                        </td>
                        <td>nbf</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <p>SD-JWT claim need to be present according to ARF.</p>
                            <p>The ISO/IEC 18013-5 claims need to be present according the format.</p>
                            <p>This is the start of the technical validity period of PID-credential.</p>
                            <p>This is set to the current date with time 00:00 in the Berlin timezone (CET or CEST, depending on the date).
                                In case of ISO/IEC 18013-5 this is expressed in the UTC timezone (&quot;2003-12-12T23:00:00Z&quot;).</p>
                        </td>
                        <td>tdate</td>
                        <td>NumericDate</td>
                    </tr>
                    <tr>
                        <td>Meta: exp</td>
                        <td>validUntil</td>
                        <td>exp</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <p>The SD-JWT claim need to be present according to ARF.</p>
                            <p>The ISO/IEC 18013-5 claim need to be present according the format.</p>
                            <p>This is the end technical validity period of PID-credential.</p>
                            <p>This is set to the issuing date + 14 days with time 00:00 according to the Berlin timezone (CET or CEST, depending on the date).
                                In case of ISO/IEC 18013-5 this is expressed in the UTC timezone (&quot;2003-12-12T23:00:00Z&quot;).</p>
                        </td>
                        <td>tdate</td>
                        <td>NumericDate</td>
                    </tr>
                    <tr>
                        <td>location_status</td>
                        <td>- (metadata)</td>
                        <td>status</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <p>This concerns revocation information which is defined separately.</p>
                            <p>As it is available as mdoc Metadata, it is not a field in the mdoc PID-credential.</p>
                            <p>For SD-JWT this is an entry in the JSON, but considered technical information.</p>
                        </td>
                        <td>revocation information as in ISO/IEC 18013-5</td>
                        <td>JSON structure for the Status list reference</td>
                    </tr>
                    <tr>
                        <td>Meta: cnf</td>
                        <td>&ndash;</td>
                        <td>cnf</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <p>This claim needs to be present according to ARF.</p>
                            <p>This is the key binding claim. Details are defined in the SD-JWT VC/ISO/IEC 18013-5 standards.</p>
                        </td>
                        <td>&ndash;</td>
                        <td>&ndash;</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <br>

        <h2 id="heading-claims-not-contained-in-the-german-pid">Claims which are <strong>not</strong> contained in the German PID-credential</h2>
        <p>Claims with DE: arise from older version of the German PID Rulebook, but are no longer contained in
            the current version and are listed here for completeness. All other claims are defined in the ARF Rulebook.</p>

        <div class="table-responsive">
            <table class="table table-bordered" aria-labelledby="heading-claims-not-contained-in-the-german-pid">
                <thead class="table-primary">
                    <tr>
                        <th class="fw-bold align-middle" scope="col">CIR 2024/2977 data identifier</th>
                        <th class="fw-bold align-middle" scope="col">ISO/IEC 18013-5 data identifier</th>
                        <th class="fw-bold align-middle" scope="col">SD-JWT VC data identifier</th>
                        <th class="fw-bold align-middle" scope="col">eID Source</th>
                        <th class="fw-bold align-middle" scope="col">Remark/Transformation rule</th>
                        <th class="fw-bold align-middle text-nowrap" scope="col">Format CBOR</th>
                        <th class="fw-bold align-middle text-nowrap" scope="col">Format SD-JWT</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>resident_address</td>
                        <td>resident_address</td>
                        <td>address.formatted</td>
                        <td>PlaceOfResidence</td>
                        <td>see section &quot;Address&quot; below</td>
                        <td>tstr</td>
                        <td>string</td>
                    </tr>
                    <tr>
                        <td>resident_house_number</td>
                        <td>resident_house_number</td>
                        <td>address.house_number</td>
                        <td></td>
                        <td>not used in German PID-credential as not available from the eID</td>
                        <td>tstr</td>
                        <td>string</td>
                    </tr>
                    <tr>
                        <td>personal_administrative_number</td>
                        <td>personal_administrative_number</td>
                        <td>personal_administrative_number</td>
                        <td></td>
                        <td>not used</td>
                        <td>tstr</td>
                        <td>string</td>
                    </tr>
                    <tr>
                        <td>portrait</td>
                        <td>portrait</td>
                        <td>picture</td>
                        <td></td>
                        <td>Currently not present in German PID-credential, as not available in a standard eID. Discussions are ongoing if and how this can be added.</td>
                        <td>bstr; see additional information in&nbsp;Section 2.3 of ARF Rulebook version 1.2</td>
                        <td>string; data URL containing the base64-encoded portrait in JPEG format according to PID_03 in&nbsp;Annex 2, Topic 3</td>
                    </tr>
                    <tr>
                        <td>given_name_birth</td>
                        <td>given_name_birth</td>
                        <td>birth_given_name</td>
                        <td></td>
                        <td>The given name is not available from the German eID.</td>
                        <td>tstr</td>
                        <td>string</td>
                    </tr>
                    <tr>
                        <td>family_name_birth</td>
                        <td>family_name_birth</td>
                        <td>birth_family_name</td>
                        <td>BirthName</td>
                        <td>Not used, as we do not have an exactly corresponding eID field.</td>
                        <td>tstr</td>
                        <td>string</td>
                    </tr>
                    <tr>
                        <td>sex</td>
                        <td>sex</td>
                        <td>sex</td>
                        <td></td>
                        <td>not used in German PID-credential as not available from the eID</td>
                        <td>uint; see additional information in&nbsp;Section 2.3</td>
                        <td>number</td>
                    </tr>
                    <tr>
                        <td>email_address</td>
                        <td>email_address</td>
                        <td>email</td>
                        <td></td>
                        <td>not used in German PID-credential as not available from the eID</td>
                        <td>tstr</td>
                        <td>string</td>
                    </tr>
                    <tr>
                        <td>mobile_phone_number</td>
                        <td>mobile_phone_number</td>
                        <td>phone_number</td>
                        <td></td>
                        <td>not used in German PID-credential as not available from the eID</td>
                        <td>tstr</td>
                        <td>string</td>
                    </tr>
                    <tr>
                        <td>document_number</td>
                        <td>document_number</td>
                        <td>document_number</td>
                        <td></td>
                        <td>not used in German PID-credential as not available from the eID</td>
                        <td>tstr</td>
                        <td>string</td>
                    </tr>
                    <tr>
                        <td>issuing_jurisdiction</td>
                        <td>issuing_jurisdiction</td>
                        <td>issuing_jurisdiction</td>
                        <td></td>
                        <td>not used, as option from the ARF rulebook.</td>
                        <td>tstr</td>
                        <td>string</td>
                    </tr>
                    <tr>
                        <td>issuance_date</td>
                        <td>issuance_date</td>
                        <td>date_of_issuance</td>
                        <td></td>
                        <td>
                            <p>Date on which the PID-credential was issued as <span class="text-nowrap">YYYY-MM-DD</span>. No time information.
                                This is the day on which the Wallet requested the PID-credential from the PID-Provider</p>
                            <p>The German PID-credential will not contain this as a claim, as this is also not available from the eID.
                                The technical issuance date nbf/ValidFrom will be present.</p>
                        </td>
                        <td>0 (=tdate) OR<br/>#6.1004(tstr) (=full-date)</td>
                        <td>string</td>
                    </tr>
                    <tr>
                        <td>trust_anchor</td>
                        <td>trust_anchor</td>
                        <td>trust_anchor</td>
                        <td></td>
                        <td>not used</td>
                        <td>tstr</td>
                        <td>string</td>
                    </tr>
                    <tr>
                        <td>DE: age_in_years</td>
                        <td>age_in_years</td>
                        <td>age_in_years</td>
                        <td></td>
                        <td>Not used. May be added later if really needed.</td>
                        <td>??</td>
                        <td>n/a</td>
                    </tr>
                    <tr>
                        <td>DE: age_birth_year</td>
                        <td>age_birth_year</td>
                        <td>age_birth_year</td>
                        <td></td>
                        <td>Not used. May be added later if really needed.</td>
                        <td>??</td>
                        <td>n/a</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <br>

        <h2>ISO/IEC 18013-5 format</h2>
        <p>For the encoding format see
            <a href="https://github.com/eu-digital-identity-wallet/eudi-doc-attestation-rulebooks-catalog/blob/main/rulebooks/pid/pid-rulebook.md" rel="noopener">ARF-PID</a>
            and
            <a href="https://bmi.usercontent.opencode.de/eudi-wallet/eidas-2.0-architekturkonzept/content/features/PID/german-pid-rulebook/" rel="noopener">German PID Rulebook</a>.
        </p>
        <p>An example version of the credential in the ISO/IEC 18013-5-format can be obtained as described on the
            <a href="https://demo.pid-provider.bundesdruckerei.de/msomdoc"> MSO-MDOC documentation page</a>.</p>

        <br>

        <h2>SD-JWT VC format</h2>
        <p>For the general encoding format see
            <a href="https://github.com/eu-digital-identity-wallet/eudi-doc-attestation-rulebooks-catalog/blob/main/rulebooks/pid/pid-rulebook.md" rel="noopener">ARF-PID</a>
            and
            <a href="https://bmi.usercontent.opencode.de/eudi-wallet/eidas-2.0-architekturkonzept/content/features/PID/german-pid-rulebook/" rel="noopener">German PID Rulebook</a>.
        </p>
        <p>An example version of the credential in the SD-JWT VC-format can be obtained as described on the
            <a href="https://demo.pid-provider.bundesdruckerei.de/sdjwt"> SD-JWT documentation page</a>.</p>


        <h3>Selective Disclosures</h3>
        <p>The PID Rulebook defines substructures for the SD-JWT VC format. The SD-JWT format supports nested selective disclosures.
            This means, that the whole structure can be selectively disclosable, and each subclaim is additionally individually selectively disclosable as well.</p>
        <p>In the German PID-credential, if a claim is selectively disclosable, each subclaim will additionally be individually selectively disclosable.
            The same applies to arrays, where each entry will also be selectively disclosable.
            Further, decoys will are used to hide the actual number of elements of arrays where applicable, e.g. in the case of nationalities.</p>


        <h3>String encoding</h3>
        <p>As stated in <a href="https://github.com/eu-digital-identity-wallet/eudi-doc-attestation-rulebooks-catalog/blob/main/rulebooks/pid/pid-rulebook.md" rel="noopener">ARF-PID</a>,
            all string values are UTF-8 encoded.</p>

        <br>

        <h2>Transformations</h2>
        <p>Transformations from the eID data to the PID-credential data is kept to a minimum. However, some transformations are necessary. Note the following points.</p>


        <h3>Uppercase in String Values</h3>
        <p>As explained in the <a href="https://bmi.usercontent.opencode.de/eudi-wallet/eidas-2.0-architekturkonzept/content/features/PID/german-pid-rulebook/" rel="noopener">German PID Rulebook</a>,
            all string values in the eID are uppercase. The PID-Provider will not transform any of these values, hence the claims in the PID-credential will be uppercase as well.</p>


        <h3>Birthdate</h3>
        <p>If the birthdate is not completely known, the German PID-credential will contain zeros as days or months, like 1964-00-00.
            Strictly speaking, this violates the specifications for date fields in SD-JWT VC and mso mdoc.
            Implementers are advised to handle these cases gracefully in their implementations. See also&nbsp;<a
                href="https://github.com/eu-digital-identity-wallet/eudi-doc-attestation-rulebooks-catalog/blob/main/rulebooks/pid/pid-rulebook.md#314-attribute-birth_date"
                rel="noopener">ARF ANNEX 3.01 - PID Rulebook: 3.1.4 Attribute birth_date</a>.
        </p>


        <h3>Address</h3>
        <p>The PID-Provider does not transform a structured address into one single string.
            The claims corresponding to full addresses, namely <code>resident_address</code>&nbsp;(ISO/IEC 18013-5)
            and <code>address.formatted</code>&nbsp;(SD-JWT VC), will not be present.
            This follows the principle in keeping the transformations minimal.</p>
        <p>The individual address claims (like&nbsp;<code>resident_city</code>&nbsp;(mdoc),&nbsp;<code>address.locality</code>&nbsp;(SD-JWT&nbsp;VC)) are extracted from the subfields.
            In the case of <code>NoPlaceInfo</code> the claims are left blank. In the case of <code>freetextPlace</code>,
            no PID-credential is issued, as this is not expected to happen in the case of a German eID.</p>
        <p>Note that the German eID does not contain a separate property for house number, hence the claim <code>resident_house_number</code> will not be present.</p>


        <h3>2-letter code vs. 3-letter code</h3>
        <p>The eID contains a 3-letter ICAO code. The transformation to the ISO 3166-1 2-letter code follows the ICAO rules from
            <a href="https://www.icao.int/publications/doc-series/doc-9303" rel="noopener">https://www.icao.int/publications/doc-series/doc-9303</a>,
            part 3, section 5, which builds upon the ISO table from
            <a href="https://www.iso.org/obp/ui/#search" rel="noopener">https://www.iso.org/obp/ui/#search</a>
            (Select &quot;country codes&quot;; this is the official reference according to ISO 3166-1.).</p>
        <p>If the transformation is not possible, e.g. because there is not matching ISO 3166-1 code or a reserved space is used,
            no PID-credential will be issued. NOTE: The German eID uses codes for the reserved spaces.</p>


        <h3>Age verification</h3>
        <p>The German PID-credential supports the age verification functionality via the selectively disclosable claims&nbsp;<code>age_over_XX</code>.
            The information in the claims&nbsp;<code>age_over_XX</code> is only accurate at the point in time the PID-credential is issued.
            (This is requirement EW-DM-03-12 and EW-DM-03-19
            from&nbsp;<a href="https://eudi.dev/2.7.3/annexes/annex-2/annex-2.03-high-level-requirements-by-category/"
                rel="noopener">https://eudi.dev/2.7.3/annexes/annex-2/annex-2.03-high-level-requirements-by-category/</a>).
            More precisely, the claims state if &quot;birth_date + XX years &gt;= valid_from (resp. nbf)&quot; is true.
            The date is assumed to be in the Berlin timezone, hence on 2018-02-03 at 00:30 in Berlin (UTC 2018-02-02T23:30Z),
            age_over_18 is it true for somebody born on 2000-02-03. Summer-/Wintertime is considered.</p>
        <p>The claims are recalculated every time the Wallet requests a new PID-credential to be issued.
            Thus, a Wallet can refresh that value by requesting a new PID-credential. NOTE: While the technical validity
            period of the PID-credential could be limited such that this information stays accurate, this would leak
            information about the birthday to every consumer of the PID-credential.</p>
        <p>In case the birthdate is not completely known, the last possible birthdate according to the known data is used,
            following BSI TR-03127, p.8, DG8. This is the only way to ensure the holder of the PID-credential has reached the required age if the field is true.</p>


        <h3>For information: These functions from the eID of the ID-card have no corresponding functionality in the German PID-credential</h3>


        <h4>Not Supported: Age verification of arbitrary ages</h4>
        <p>The German eID supports a flexible age verification function, which allows to query if the document owner was born before a given date.
            This functionality is not supported by the German PID-credential, the claims age_over_* can be used instead. See above for an explanation.</p>


        <h4>Not Supported: &quot;Wohnort-ID&quot;</h4>
        <p>The German PID-credential does not support the functionality of &quot;Wohnort-ID&quot; as described
            in&nbsp;<a href="https://www.bsi.bund.de/DE/Themen/Unternehmen-und-Organisationen/Standards-und-Zertifizierung/Technische-Richtlinien/TR-nach-Thema-sortiert/tr03127/TR-03127_node.html"
                       rel="noopener">BSI TR-03127</a>.
        </p>

        <br>

        <h2>References from ARF</h2>

        <h3>JWT credential claims from OpenID Connect</h3>
        <div class="table-responsive">
            <table class="table table-bordered caption-top">
                <caption class="text-black">The following references define the claim names used in the SD-JWT credential type and are used in the ARF rulebook.</caption>
                <thead class="table-primary">
                    <tr>
                        <th class="fw-bold" scope="col">ARF Key</th>
                        <th class="fw-bold" scope="col">Reference</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>[<a href="https://openid.net/specs/openid-connect-4-ida-claims-1_0-final.html" rel="noopener">EKYC</a>]</td>
                        <td>Lodderstedt, T. et al., OpenID Connect for Identity Assurance Claims Registration 1.0, OpenID Foundation. </td>
                    </tr>
                    <tr>
                        <td>[<a href="https://openid.net/specs/openid-connect-core-1_0.html" rel="noopener">OIDC</a>]</td>
                        <td>Sakimura, N. et al., OpenID Connect Core 1.0, OpenID Foundation.</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</main>

</body>
</html>
