<!--

    Copyright 2024-2026 Bundesdruckerei GmbH
    For the license see the accompanying file LICENSE.MD.

-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>An error occured</title>
    <link rel="icon" th:href="@{favicon.png}" type="image/png"/>
    <link rel="stylesheet" th:href="@{css/mdb.min.css}"/>
    <link rel="stylesheet" th:href="@{css/a11y-overrides.css}"/>
</head>

<body>

<main>
    <div class="container mt-2" style="max-width: 30rem;">
        <h1>Something went wrong!</h1>
        <p>An unexpected error occurred while using the service. You may try again later.</p>
    </div>
</main>

</body>
<script th:src="@{js/mdb.umd.min.js}"></script>
<script type="text/javascript"></script>
</html>
