<!--

    Copyright 2024-2025 Bundesdruckerei GmbH
    For the license see the accompanying file LICENSE.MD.

-->
<!DOCTYPE html>
<html th:replace="~{layout :: main(~{::title}, ~{::#content})}" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>PID-Provider</title>
</head>
<body>
<main>
    <div id="content" class="container mt-2" style="max-width: 40rem;">

        <h1>License information for this documentation</h1>

        <ul>
            <li>
                <h2>Material Design for Bootstrap</h2>
                <p>This documentation uses Material Design for Bootstrap - MDB</p>
                <p>MDB5 Version: FREE 7.3.2 <a href="https://mdbootstrap.com/general/license/" rel="noopener" target="_blank">https://mdbootstrap.com/general/license/</a></p>
                <div>
                    <h3>MIT license for MDB Free</h3>
                    <p>Free packages are available under the MIT License.</p>
                    <p><b>Highlights</b>
                        <ul>
                            <li>Free for personal use</li>
                            <li>Free for commercial use</li>
                            <li>No attribution required</li>
                        </ul>
                    </p>
                    <p><b>Copyright notice</b></p>
                    <p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the
                        "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish,
                        distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to
                        the following conditions.</p>
                    <p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>
                    <p>The software is provided "As is", without warranty of any kind, express or implied, including but not limited To the warranties of
                        merchantability, fitness for a particular purpose and noninfringement. In no event shall The authors or copyright holders be liable for
                        any claim, damages or other liability, whether in an action of Contract, tort or otherwise, arising from, out of or in connection with
                        the software or the use or other Dealings in the software.</p>
                </div>
            </li>
        </ul>
    </div>
</main>
</body>
</html>
