<!--

    Copyright 2024-2026 Bundesdruckerei GmbH
    For the license see the accompanying file LICENSE.MD.

-->
<!DOCTYPE html>
<html th:replace="~{layout :: main(~{::title}, ~{::#content})}" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Privacy Terms</title>
</head>

<body>
<!--Main layout-->
<main>
    <div id="content" class="container my-2">

        <h1>Privacy terms</h1>

        <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>

        <h2>1. Lorem ipsum</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mazim nonummy praesent enim, eum officia zzril
            assum ea laborum nobis nisi ipsum vel, lobortis te velit luptatum euismod dolores velit blandit lorem
            laborum at facilisis placerat. Sit consectetuer dolore eleifend takimata molestie. Erat dolore consectetur
            aliquyam qui facilisi. Lobortis amet mazim.
        </p>
    </div>
</main>
<!--Main layout-->

</body>
</html>
